
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    background-color: rgb(204, 204, 204);
    
}

.container{
    height: 100vh;
    width: 100%;
    background-color:rgb(204,204,204);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:2%;
    padding-right: 2%;
}

svg{
    width: 4rem;
    height: 4rem;
}

ul{
    display: none;
}

.log{
    color: black;
    
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
}


hr{
    width: 90%;
    border:0.5px solid rgb(175, 175, 175);
    
}

.image{
  
    display: flex;
    justify-content: center; 
    align-items: center;
}
 
img{
    width: 70%;
    height: 50%;
}
.content{
    height:85% ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.small-content{
    margin-top: 20px;
}

.location{
    background-color: rgb(229, 228, 226);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center; 
    align-items: center;  
    padding-top: 4px;
    width: 223px;
    height: 41px;
    margin-left: 10px;
}

h1{
    text-align: center;
    color:black;
    margin: 20px 0px 20px;
    font-size: 40px;
}



.about{
color: white;
/* width: 100%; */
/* height:100vh; */
display: flex;
flex-direction: column;
justify-content: space-evenly;
margin-top: 3%;
}

.mypicture{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.shadow{
    width: 200px;
    height: 200px;
    background-color: rgb(229,228,226);
    position: absolute;
}

.overlap{
    
    width: 250px;
    height:400px;
    z-index: 2;
    position: relative;
    top: 30px;
    left: 80px;
}

.aboutme{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.message{
    color: black;
    font-size: 14px;
    /* border: 2px solid green; */
}

.button{
    display: flex;
    justify-content: center; 
    align-items: center;  
    align-content: center;
}

.Lets-Connect{
    background-color: rgb(229, 228, 226);
    border: none;
    display: flex;
    justify-content: center; 
    align-items: center;  
    padding-top: 4px;
    align-content: center;
    width: 246px;
    height: 41px;
   
}


.aboutme{
    font-family: Inter;
}

.skills{
    /* background-color: rgb(3, 3, 53); */
    color: white;
    font-size: 20px;
}

.skills p{
    font-family: 'Josefin Sans', sans-serif;
 }


 .contact{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid red;
  
 }

 .vistors-info{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 4px;
    padding-right: 4px;
    border: 2px solid green;
 }

 .vistors-information{
    background-color:white;
    border: none;
    height: 41px;
    
 }

 .send-btn{
    background-color: rgb(229, 228, 226);
    border: none;
    width: 100%;
    height: 41px;
    border: 2px solid red;
   
 }

 #message{
    border: none;
   
 }
 
 
 
 .my-contact{
    
    border:2px solid yellow;
 }

 .social-media{
    display:flex;
    flex-direction:row;
    color: black;
    border: 2px solid green;
 }

 .social-handal{
    border: 2px solid;
    font-size: large;
 }

 svg{
    width:20px;
    height:20px;
    margin-top: 6px;
    border: 2px solid green;
 }

 /* .contact  ul:nth-last-child a:hover{
    color: aqua;
    cursor: pointer;
 } */

   @media (min-width:1024px) {


    ul {
        display: block;
    }

    nav h1:hover{
        color:rgb(229, 228, 226);
        }
    
     nav ul li{
        list-style-type: none;
        display: inline-block;
        padding: 10px 25px;
    
    } 
    
    nav ul li a{
        color:black;
        text-decoration: none; 
        font-weight: bold;
        text-transform: capitalize;
    }
    
    nav ul li a:hover{
        color:rgb(229,228,226);
    }

    

   svg{
    display: none;
   }

   img{
    text-align: center;
    width: 40%;
    height: 40%;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;  
    padding: 20px;
}

.small-content{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction:row-reverse;
    justify-content: center;
    align-items: center;
    
}

.location{
    width: 50%;
    height: 41px;
}



.about{
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 3px solid black;
    }
    
    .mypicture{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        width: 50%;
        height: 50%;
        border: 2px solid red;
    }
    
    .shadow{
        width: 300px;
        height: 300px;
        background-color: rgb(229,228,226);
        position: absolute;
    }
    
    .overlap{
        
        width: 600px;
        height:800px;
        z-index: 2;
        position: relative;
        top: 150px;
        left: 270px;
    }
    
    .aboutme{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 50%;
        height: 100%;
        border: 2px solid green;
    
    }
    
    .message{
        color: black;
        font-size: 14px;
        border: 2px solid yellow;
    }
    
    .button{
        display: flex;
        justify-content: center; 
        align-items: center;  
        align-content: center;
    }
    
    button{
        background-color: rgb(229, 228, 226);
        border: none;
        display: flex;
        justify-content: center; 
        align-items: center;  
        padding-top: 4px;
        align-content: center;
        width: 246px;
        height: 41px;
       
    }
    

 }
      
